$blueGray:#39556e;
$green:#2ecc72;
$lightBlue:#2980B9;
$lightGray:#ecf0f1;
$orange:#ff7518;
$pink:#f17285;
$red:#e74c3c;
$topbarColor:#22313F;
$veryLightGray:#f9f9f9;
$yellow:#f1c40f;
$colorsQuote:#27ae60, #16a085, #d35400, #e74c3c, #8e44ad, #F9690E, #2c3e50, #f1c40f, #65C6BB, #E08283;
$colorsQuoteBlue:#5C97BF, #2574A9, #52B3D9, #1E8BC3, #3498DB;
$colorsQuoteGreen:#26C281, #26C281, #3FC380, #2ECC71, #4DAF7C;
$colorsQuotePurple:#913D88, #9A12B3, #9B59B6, #B064E8, #8E44AD;
$colorsQuoteRed:#D91E18, #96281B, #EF4836, #D64541, #BF0000;
$colorsQuoteOrange:#E87E04, #F2784B, #F9690E, #F27935, #E67E22;
$availableColors:
	""			$colorsQuote,
	"blue"		$colorsQuoteBlue,
	"green"		$colorsQuoteGreen,
	"purple"	$colorsQuotePurple,
	"red"		$colorsQuoteRed,
	"orange"	$colorsQuoteOrange
;