$lightBlue:#2980B9;
$red:#e74c3c;
$orange:#ff7518;
$green:#2ecc72;
$topbarColor:#22313F;
$lightGray:#ecf0f1;
$veryLightGray:#f9f9f9;
$blueGray:#39556e;
$pink:#f17285;
$colorsQuote:#27ae60, #16a085, #d35400, #e74c3c, #8e44ad, #F9690E, #2c3e50, #f1c40f, #65C6BB, #E08283;
$colorsQuoteBlue:#5C97BF, #2574A9, #3A539B, #1E8BC3, #19B5FE, #89C4F4, #3498DB, #52B3D9;
$colorsQuoteGreen:#26C281, #26C281, #3FC380, #2ECC71, #4DAF7C, #03A678, #00B16A, #1BBC9B;
$colorsQuotePurple:#913D88, #9A12B3, #BF55EC, #BE90D4, #8E44AD, #9B59B6;
$colorsQuoteRed:#D91E18, #96281B, #EF4836, #D64541, #F22613, #E74C3C, #CF000F;
$colorsQuoteOrange:#E87E04, #F2784B, #F9690E, #F27935, #E67E22, #D35400, #F39C12, #F5AB35;
$availableColors:
	""			$colorsQuote,
	"blue"		$colorsQuoteBlue,
	"green"		$colorsQuoteGreen,
	"purple"	$colorsQuotePurple,
	"red"		$colorsQuoteRed,
	"orange"	$colorsQuoteOrange
;