@mixin background-image-retina($file, $type, $width, $height) {
	background-image: url($file + '.' + $type);

	@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
		}
	}
}

@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin element-transition {
	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in-out);
}

@mixin ariane-line {
	#ariane-line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2.5em;

		a {
			background: $lightGray;
			padding: 3px 5px;
			color: $lightBlue;
			@include element-transition;

			@media screen and (min-width: $breakpointLargeDesktop) {
				font-size: 1.2em;
				padding: 5px 10px;
			}

			@media screen and (min-width: $breakpointTablet) and (max-width: $breakpointLargeDesktop) {
				font-size: 1.1em;
				padding: 4px 8px;
			}

			i.fa {
				color: darken($lightGray, 40%);
				margin-right: 10px;
				@include element-transition;
			}

			.fa-mobile {
				font-size: 1.2em;
				vertical-align: -2px;
			}

			&:hover {
				background: $lightBlue;
				color: white;
				text-decoration: none;

				i.fa {
					color: white;
				}
			}
		}
	}
}

@mixin abstract-link($color, $background) {
	a {
		background: inherit;
		text-decoration: none;
		color: $color;
		padding: 2px 3px;
		@include element-transition;

		&:hover {
			background: $color;
			color: $background;
		}
	}
}

@mixin link-white-on-blue {
	@include abstract-link(white, $lightBlue);
	a {
		font-family: 'Titillium Web', serif;
	}
}

@mixin link-blue-on-white {
	@include abstract-link($lightBlue, white);
}

@mixin link-orange-on-white {
	@include abstract-link($orange, white);
}

@mixin blue-container {
	padding: 30px;
	background: $lightBlue;
	color: white;
	text-align: justify;

	@media screen and (min-width: $breakpointSmartphone) {
		font-size: 1.1em;
	}

	h2 {
		font-family: 'Titillium Web', serif;
		margin-top: 0;
		margin-bottom: 1em;
		font-weight: 700;
		font-size: 1.3em;
		color: white;
	}
}

@mixin comment-and-avatar {
	background: $lightGray;
	padding:15px 15px 10px 15px;
	margin-bottom: 5px;
	border-bottom: 3px solid darken($lightGray, 10%);

	.column {
		float:none;
		display:inline-block;
		vertical-align:middle;
		margin-right:-4px;

		.avatar {
			max-height: 100px;
			@include border-radius(50%);
		}
	}

	.column-avatar {
		border-right: 1px solid darken($lightGray, 10%);
	}
}