@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Belgrano|Open+Sans:300);

$imagesFolder:"/assets/images/";
$lightBlue:#2980B9;
$red:#e74c3c;
$orange:#ff7518;
$green:#2ecc71;
$topbarColor:#22313F;
$lightGray:#ecf0f1;
$blueGray:#39556e;

body {
	text-rendering: optimizeLegibility;
}

.btn-primary {
	background-color: $lightBlue;
	border-color: $lightBlue;
}

.transition {
	@include transition-property(all);
  	@include transition-duration(0.3s);
  	@include transition-timing-function(ease-in-out);
}

.badge {
	@include border-radius(0px);
	background: #95a5a6;
	@media screen and (max-width: 768px) {
		font-size: inherit;
	}
}

.form-horizontal .control-label {
	margin-bottom: 10px;
}

.red {
	color: $red;
}

.green {
	color: $green;
}

.orange {
	color: $orange;
}

.alert-warning, .alert-success {
	i.fa {
		margin-right: 15px;
	}
}

.navbar-default {
	background: $topbarColor;
	border: 0;

	.navbar-nav > li > a:hover, .navbar-toggle:hover, .navbar-toggle:focus {
		background: #FFF;
		color: $blueGray;
	}

	.navbar-toggle .icon-bar {
		background-color: white;
	}

	.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
		background-color: $topbarColor;
	}

	.navbar-collapse {
		border-color: lighten($topbarColor, 10%);
	}
}

.navbar-fixed-top {
	.logo {
		background:url($imagesFolder + 'logo.png') no-repeat;
		width: 200px;
		height: 30px;
		display: block;
		margin: 12px 10px 0 0;
		float: left;

		@media screen and (max-width: 768px) {
			margin-left: 10px;
		}

		@media screen and (min-width: 320px) and (max-width: 992px) {
			width: 150px;
			height: 23px;
			margin-left: 35px;
			background-size: contain;
			margin-top: 15px;
		}
	}

	.container {
		@media screen and (max-width: 992px) {
			padding-right: 0px;
			padding-left: 0px;
		}
	}


	.twitter-follow-button {
		margin-top: 15px;
	}

	.navbar-nav > li > a > i.fa {
		margin-right: 10px;
	}
}

.heart-row {
	margin: 10px 0 20px 0;

	.heart-container {
		text-align: center;

		.fa {
			color: $red;
			display: inline-block;
	    	width: 100%;
		}
	}
}

#signin-page {
	h1 {
		margin-bottom: 15px;

		> i.fa {
			margin-right: 15px;
		}
	}

	.signin-text {
		margin-bottom: 10px;
	}

	#listener-wants-account {
		margin:-20px;
		padding: 20px;
	}
}

#reset-password {
	h1 {
		margin-bottom: 15px;

		> i.fa {
			margin-right: 15px;
		}
	}

	.relax-text {
		margin-bottom: 10px;
	}
	
}

#addquote-page {

	.addquote-text {
		margin-bottom: 10px;
	}

	h1 {
		margin-bottom: 15px;

		> i.fa {
			margin-right: 15px;
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			font-weight: 300;
			font-family: 'Open Sans', sans-serif;
			margin: 15px 0 20px 15px;
			font-size: 1.4em;


			b {
				font-weight: 400;
			}
		}
		li:nth-child(even) {
			text-align: right;
		}
	}

	.notice-email {
		margin-top: 15px;

		i.fa {
			color: $lightBlue;
			margin-right: 10px;
		}
	}
}

#signup-page {
	.signup-advantages {
		ul {
			list-style: none;
			padding: 0;

			li {
				font-weight: 300;
				font-family: 'Open Sans', sans-serif;
				margin: 15px 0 20px 15px;
				font-size: 1.4em;


				b {
					font-weight: 400;
				}
			}
			li:nth-child(even) {
				text-align: right;
			}
		}
	}

	.signup-text {
		margin-bottom: 10px;
	}

	#login-awesome {
		display: none;
		color:$green;
		margin: 10px 15px 0 15px;

		i.fa {
			color:$green;
			margin-left: 15px;
		}

	}
}

.container.under-navbar {
	margin-top: 100px;

	@media screen and (max-width: 768px) {
		margin-top: 70px;
	}

	.text-center {
		text-align: center;
	}
}

.error-form {
	margin: 10px 0 0 20px;

	i.fa {
		margin-right: 15px;
	}
}

.quote {
	background: $red;
	width: 100%;
	padding: 20px 20px 15px 20px;
	color: white;
	font-size:1.1em;
	line-height: 1.5em;
	margin-bottom: 25px;
	border-bottom: 3px solid darken($red, 10%);
	text-align: justify;
	@include hyphens(auto);

	.quotes-info {
		margin-top: 10px;
		font-size: 0.9em;

		@media screen and (max-width: 768px) {
			font-size: 0.7em;
		}

		.link-author-profile {
			color: white;
			font-family: 'Belgrano', serif;
			font-weight: 400;
			text-decoration: none;
			font-style: italic;
			float: right;
			background:transparent;
			padding: 1px 3px;
		}

		.float-left {
			float: left;
		}

		.social-buttons {
			opacity: 0;
			
			a {
				width: 24px;
				height: 24px;
				color: white;
				display: inline-block;
				text-align: center;

				@media screen and (max-width: 768px) {
					width: 18px;
					height: 18px;
				}

			}
			
			a:hover i.fa-facebook {
				color: #4862A3;
			}

			a:hover i.fa-twitter {
				color: #55ACEE;
			}

			a:first-child {
				margin-right: 5px;
				
				@media screen and (max-width: 768px) {
					margin-right: 3px;
				}
			}
		}

		.link-author-profile:hover, .badge:hover, .social-buttons a:hover {
			background: white !important;
			color: $lightBlue;
		}

		.favorite-links {
			@media screen and (max-width: 768px) {
				padding: 0 5px;
			}

			.favorite-action {
				border: 0;
				outline: none;

				&:hover i.fa-heart, &:hover i.fa-heart-o {
					color: $red !important;
				}
			}
		}


		.nb-comments {
			margin: 0 5px 0 10px;
		}
	}

}

#title-comments, #title-add-comment {
	margin: 2em 0 1em 0;

	i.fa {
		margin-right: 20px;
	}
}

#countLetters {
	margin: 15x 0 0 10px;

	i.fa {
		margin-right: 10px;
	}
}

.comment {
	background: $lightGray;
	padding:15px 15px 10px 15px;
	margin-bottom: 5px;
	border-bottom: 3px solid darken($lightGray, 10%);

	.column {
		float:none;
    	display:inline-block;
    	vertical-align:middle;
    	margin-right:-4px;

		.avatar {
			max-height: 100px;
		}
	}

	.column-avatar {
		border-right: 1px solid darken($lightGray, 10%);
	}

	.comment-info {
		margin-top: 10px;
		@media screen and (max-width: 768px) {
			font-size: 0.9em;
		}

		.date-comment {
			@media screen and (max-width: 768px) {
				font-size: 0.9em;
				margin-top: 3px;
			}
		}

		.link-author-name {
			color: darken($lightGray, 50%);
			font-family: 'Belgrano', serif;
			font-weight: 400;
			text-decoration: none;
			font-style: italic;
			float: right;
			background:transparent;
			padding: 2px 5px;
		} 

		.link-author-name:hover {
			background: white;
			color: darken($lightGray, 50%);
		}
	}


}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push, footer {
	height: 60px;
}

footer {
	background: $topbarColor;
	color: lighten($topbarColor, 25%);
	margin-top: 20px;

	@media screen and (max-width: 768px) {
		font-size: .8em;
	}

	.container {
		padding-top: 15px;
	}

	.col-xs-6 {
		float:none;
		display:inline-block;
		vertical-align:middle;
		margin-right:-4px;
	}

	.right {
		text-align: right;
		font-family: 'Belgrano', serif;
		font-style: italic;

		i.fa {
			margin-right: 15px;
		}
	}
}