@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Belgrano|Open+Sans:300);

$imagesFolder:"/assets/images/";
$lightBlue:#2980B9;
$red:#e74c3c;
$orange:#ff7518;
$green:#2ecc71;
$topbarColor:#22313F;

body {
	text-rendering: optimizeLegibility;
}

.btn-primary {
	background-color: $lightBlue;
	border-color: $lightBlue;
}

.transition {
	@include transition-property(all);
  	@include transition-duration(0.3s);
  	@include transition-timing-function(ease-in-out);
}

.badge {
	@include border-radius(0px);
	background: #95a5a6;
}

.form-horizontal .control-label {
	margin-bottom: 10px;
}

.red {
	color: $red;
}

.green {
	color: $green;
}

.orange {
	color: $orange;
}

.alert-warning {
	i.fa {
		margin-right: 15px;
	}
}

.navbar-default {
	background: $topbarColor;
	border: 0;

	.navbar-nav > li > a:hover, .navbar-toggle:hover, .navbar-toggle:focus {
		background: #FFF;
		color: $topbarColor;
	}

	.navbar-toggle .icon-bar {
		background-color: white;
	}

	.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
		background-color: $topbarColor;
	}

	.navbar-collapse {
		border-color: lighten($topbarColor, 10%);
	}
}

.navbar-fixed-top {
	.logo {
		background:url($imagesFolder + 'logo.png') no-repeat;
		width: 200px;
		height: 30px;
		display: block;
		margin: 12px 10px 0 0;
		float: left;

		@media screen and (max-width: 768px) {
			margin-left: 10px;
		}
	}


	.twitter-follow-button {
		margin-top: 15px;
	}

	.navbar-nav > li > a > i.fa {
		margin-right: 10px;
	}
}

.heart-row {
	margin: 10px 0 20px 0;

	.heart-container {
		text-align: center;

		.fa {
			color: $red;
			display: inline-block;
	    	width: 100%;
		}
	}
}

#signin-page {
	h1 {
		margin-bottom: 15px;

		> i.fa {
			margin-right: 15px;
		}
	}

	.signin-text {
		margin-bottom: 10px;
	}

	#listener-wants-account {
		margin:-20px;
		padding: 20px;
	}
}

#addquote-page {
	h1 {
		margin-bottom: 15px;

		> i.fa {
			margin-right: 15px;
		}
	}

	.addquote-text {
		margin-bottom: 10px;
	}

	#countLetters {
		margin: 15x 0 0 10px;

		i.fa {
			margin-right: 10px;
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			font-weight: 300;
			font-family: 'Open Sans', sans-serif;
			margin: 15px 0 20px 15px;
			font-size: 1.4em;


			b {
				font-weight: 400;
			}
		}
		li:nth-child(even) {
			text-align: right;
		}
	}

	.notice-email {
		margin-top: 15px;

		i.fa {
			color: $lightBlue;
			margin-right: 10px;
		}
	}
}

#signup-page {
	.signup-advantages {
		ul {
			list-style: none;
			padding: 0;

			li {
				font-weight: 300;
				font-family: 'Open Sans', sans-serif;
				margin: 15px 0 20px 15px;
				font-size: 1.4em;


				b {
					font-weight: 400;
				}
			}
			li:nth-child(even) {
				text-align: right;
			}
		}
	}

	.signup-text {
		margin-bottom: 10px;
	}

	#login-awesome {
		display: none;
		color:$green;
		margin: 10px 15px 0 15px;

		i.fa {
			color:$green;
			margin-left: 15px;
		}

	}
}

.container.under-navbar {
	margin-top: 100px;

	@media screen and (max-width: 768px) {
		margin-top: 70px;
	}

	.text-center {
		text-align: center;
	}
}

.error-form {
	margin: 10px 0 0 20px;

	i.fa {
		margin-right: 15px;
	}
}

.quote {
	background: $red;
	width: 100%;
	padding: 20px 20px 15px 20px;
	color: white;
	font-size:1.1em;
	line-height: 1.5em;
	margin-bottom: 25px;
	border-bottom: 5px solid darken($red, 10%);
	text-align: justify;
	@include hyphens(auto);

	.quotes-info {
		margin-top: 10px;

		@media screen and (max-width: 768px) {
			font-size: 0.9em;
		}

		.link-author-profile {
			color: white;
			font-family: 'Belgrano', serif;
			font-weight: 400;
			text-decoration: none;
			font-size: 1.2em;
			font-style: italic;
			float: right;
			background:transparent;
			padding: 2px 5px;
		}

		.float-left {
			float: left;
		}

		.social-buttons {
			opacity: 0;

			.fb-like {
				margin-left: 10px;
			}

			.twitter-share-button {
				margin: 3px 0 0px 50px;
			}
		}

		.comments-count {
			color: white;
			text-decoration: none;
		}

		.link-author-profile:hover, .badge:hover {
			background: white;
			color: $lightBlue;
		}

		.badge:hover {
			background: #FFF !important;
		}

		.nb-comments {
			margin: 0 5px 0 10px;
		}
	}

}