@import "compass/css3";

$imagesFolder:"/assets/images/";
$lightBlue:#2980B9;
$red:#e74c3c;

.navbar-default {
	background: $lightBlue;
	border: 0;

	.navbar-nav > li > a {
		@include transition-property(all);
  		@include transition-duration(0.2s);
  		@include transition-timing-function(linear);
	}

	.navbar-nav > li > a:hover, .navbar-toggle:hover, .navbar-toggle:focus {
		background: #FFF;
		color: $lightBlue;
	}

	.navbar-toggle .icon-bar {
		background-color: white;
	}

	.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
		background-color: $lightBlue;
	}

	.navbar-collapse {
		border-color: lighten($lightBlue, 10%);
	}
}

.navbar-fixed-top {
	.logo {
		background:url($imagesFolder + 'logo.png');
		width: 195px;
		height: 30px;
		display: block;
		margin: 12px 10px 0 0;
		float: left;
	}

	.twitter-follow-button {
		margin-top: 15px;
	}

	.navbar-nav > li > a > i.fa {
		margin-right: 10px;
	}
}

.container.under-navbar {
	margin-top: 70px;

	.text-center {
		text-align: center;
	}
}

.quote {
	background: $red;
	width: 100%;
	padding: 20px;
	color: white;
	font-size:1em;
	line-height: 1.5em;
	margin-bottom: 25px;
	border-bottom: 7px solid darken($red, 10%);
}