.DS_Store
.env
.sass-cache
bootstrap/compiled.php
node_modules
vendor
composer.lock
composer.phar
migrate*
public/assets/css/ie.css
public/assets/css/print.css
public/assets/css/screen.css
tests/_data/db.sqlite_snapshot
tests/_output/*
tests/functional/FunctionalTester.php
tests/search/SearchTester.php
tests/unit/UnitTester.php
tests/integration/IntegrationTester.php
Thumbs.db