/app
/images/avatar
/files
/kernel/config.php
/error
/en
/uniform
/stats
.DS_STORE
*sublime*
sftp-config*
specialmail.php
/statistics/files/*.out
/statistics/files/*.log
/statistics/files/*.gz
/statistics/files/*.aux
/statistics/files/*.toc
/statistics/files/*.fdb*