.DS_Store
.env
.sass-cache
bootstrap/compiled.php
composer.lock
composer.phar
dump.rdb
node_modules
public/assets/css/screen.css
public/assets/css/styles.min.css
public/assets/js/scripts.min.js
public/public
tests/_data/db.sqlite_snapshot
tests/_output/*
tests/functional/FunctionalTester.php
tests/integration/IntegrationTester.php
tests/search/SearchTester.php
tests/unit/UnitTester.php
Thumbs.db
updateEnv.sh
vendor
*.map
