RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.teen-quotes.com [NC]
RewriteRule ^(.*)$ http://teen-quotes.com/$1 [L,R=301]
RewriteRule ^user-([0-9]+)$ user.php?id_user=$1 [L,QSA]
RewriteRule ^quote-([0-9]+)$ quote.php?id_quote=$1 [L,QSA]
RewriteRule ^editcomment-([0-9]+)$ editcomment.php?id_comment=$1 [L,QSA]
RewriteRule ^members-([A-Z]+)$ members.php?letter=$1 [L,QSA]
RewriteRule ^favorite-([0-9]+)$ favorite.php?id_quote=$1 [L,QSA]
RewriteRule ^unfavorite-([0-9]+)$ unfavorite.php?id_quote=$1 [L,QSA]
RewriteRule ^([a-z]+)$ $1.php [L,QSA]

redirect 301 /favicon.ico http://teen-quotes.com/images/favicon.gif 

ErrorDocument 404 /error.php?erreur=404
ErrorDocument 403 /error.php?erreur=403
ErrorDocument 500 /down
ErrorDocument 503 /down


# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
 <FilesMatch "\\.(ico|jpe?g|png|gif|swf|gz|ttf)$">
 Header set Cache-Control "max-age=2592000, public"
 </FilesMatch>
 <FilesMatch "\\.(css)$">
 Header set Cache-Control "max-age=2592000, public"
 </FilesMatch>
 <FilesMatch "\\.(js)$">
 Header set Cache-Control "max-age=2592000, private"
 </FilesMatch>
<filesMatch "\\.(html|htm)$">
Header set Cache-Control "max-age=7200, public"
</filesMatch>
# Disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers
 
