language: php

php:
  - 5.5
  - 5.6
  - hhvm

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev

script:
  - vendor/bin/codecept build
  - vendor/bin/codecept run

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true
