html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
body {
	line-height:1
}
ol,ul {
	list-style:none
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
body {
	background:url(/images/bg_site.jpg) fixed;
	font-family:"Helvetica",Arial,Verdana,sans-serif;
	font-size:15px;
	color:#555;
}
b {
	font-weight:bold !important
}
a img {
	border:none !important;
	text-decoration:none;
}
a:hover img {
	border:none !important;
}
a .fb_share {
	margin-right:20px;
	margin-top:-5px
}
.post li {
	list-style:square inside;
	margin-bottom:5px;
	margin-left:25px
}
.mini_user_avatar {
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
	border-radius: 3px;

	float:left;
	height:20px;
	margin-right:5px;
	margin-top:-6px;
	width:20px
}
.user_avatar_last_visitors {
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
	border-radius: 3px;

	float:left;
	height:30px;
	margin-left:30px;
	margin-top:-10px;
	width:30px
}
.user_avatar_editprofile {
	-webkit-box-shadow: 1px 3px 7px rgba(0, 0, 0, .5);
	box-shadow: 1px 3px 7px rgba(0, 0, 0, .5); 
	-moz-box-shadow: 1px 3px 7px rgba(0, 0, 0, .5); ;
	border-radius: 5px;

	float:right;
	height:50px;
	width:50px
}
.user_avatar_members {
	-webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, .5);
	box-shadow: 2px 4px 10px rgba(0, 0, 0, .5); 
	-moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, .5); ;
	border-radius: 5px;

	float:left;
	height:50px;
	margin-right:20px;
	margin-top: 6px;
	width:50px
}
.user_avatar {
	-webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, .5);
	box-shadow: 2px 4px 10px rgba(0, 0, 0, .5); 
	-moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, .5); ;
	border-radius: 5px;

	float:left;
	height:120px;
	margin-right:30px;
	margin-top:10px;
	width:120px;
}
.heart_fav {
	background:url(/images/icones/sprite_hearts.png);
	height:14px;
	width:15px;
	display:inline-block;
	vertical-align:middle;
}
.heart_fav.on {
	background-position:0 0;
}
.heart_fav.off {
	background-position:-14px 0;
}
.icone {
	border:none;
	height:24px;
	margin-right:20px;
	vertical-align:bottom;
	width:24px
}
.mini_icone {
	border:none;
	height:12px;
	margin-right:10px;
	vertical-align:-1px;
	width:12px
}
.mini_plus_icone {
	border:none;
	height:18px;
	margin-right:10px;
	vertical-align:middle;
	width:18px
}
.mini_icone_middle {
	border:none;
	height:10px;
	margin-right:10px;
	vertical-align:middle;
	width:10px
}
span.icone_new_quote {
	background:url(/images/icones/menu/new_sprite.png);
	border:none;
	cursor:pointer;
	display:inline-block;
	background-position:-96px 0;
	margin-right:8px;
	vertical-align:-4px;
	height:16px;
	width:16px
}
.alerte {
	height:16px;
	margin-right:5px;
	vertical-align:middle;
	width:16px
}
.right {
	float:right
}
.left {
	float:left
}
.bleu {
	color:rgb(60,83,189);
	font-weight:700
}
.div_pre_form {
	margin:0 5px;
}
#header {
	background:url(/images/bg_header.jpg);
	display:block;
	height:60px;
}
#header .content {
	width:920px;
	margin:0 auto;
	padding:15px 0;
}
#header .content #logo {
	float:left;
	margin:0;
	position: relative;
}
#header .content #logo a {
	font-family:"Open Sans";
	font-size:25px;
	color:#FFF;
	font-weight:normal;
	display:block;
	height:30px;
	text-decoration:none;
	letter-spacing:2px;
}
#header .content #logo a img {
	height:30px;
	margin-right:15px;
	vertical-align:-8px;
}
#header .content #logo a:hover img {
	opacity:0.6;
}
#header .content #logo span#caption {
	font-size:12px;
	font-family:'Gloria Hallelujah';
	margin:-3px 0 0 130px;
	color:#FFF;
	float:left;
}
#header .content #social-networks {
	float:right;
	margin-top:-7px;
	display:none;
}
#wrapper a,.post a,#footer a,.profile_not_fullfilled a {
	color:rgb(60,83,189);
	text-decoration:none;
	cursor:pointer;
}
.fade_on_hover {
	-webkit-transition:opacity 0.5s ease;
	-moz-transition:opacity 0.5s ease;
	-o-transition:opacity 0.5s ease;
	transition:opacity 0.5s ease;
}
.fade_on_hover:hover {
	opacity: 0.6;
}
.post a:hover,#footer a:hover,.profile_not_fullfilled a:hover {
	border-bottom:1px dashed rgb(60,83,189);
	text-decoration:none !important;
}
#menu {
	background:url(/images/dark_gray.png);
	border-top:1px solid #DDD;
	-webkit-box-shadow:0 8px 50px rgba(0,0,0,.4);
	-moz-box-shadow:0 8px 50px rgba(0,0,0,.4);
	box-shadow:0 8px 50px rgba(0,0,0,.4);
}
#menu .content {
	margin:0 auto 10px;
	padding:10px 0;
	text-align:left;
	width:920px
}
#menu .content a.menu {
	color:rgb(60,83,189);
	text-decoration:none;
	margin-right:30px;
	font-family:'Ubuntu';
	font-weight:300;
	font-size:13px
}
#menu .content a.menu:hover {
	color:#555
}
#menu .content a span.icone_menu {
	display:inline-block;
	background:url(/images/icones/menu/new_sprite.png);
	vertical-align:-4px;
	margin-right:11px;
	height:16px;
	width:16px;
}
#menu .content a span.icone_menu.add {
	background-position:0 0;
}
#menu .content a span.icone_menu.admin {
	background-position:-16px 0;
	vertical-align:-3px;
}
#menu .content a span.icone_menu.apps {
	background-position:-192px 0;
}
#menu .content a span.icone_menu.home {
	background-position:-48px 0;
}
#menu .content a span.icone_menu.members {
	background-position:-80px 0;
	vertical-align:-4px;
}
#menu .content a span.icone_menu.newsletter {
	background-position:-112px 0;
}
#menu .content a span.icone_menu.profile {
	background-position:-64px 0;
}
#menu .content a span.icone_menu.random {
	background-position:-128px 0;
}
#menu .content a span.icone_menu.signin {
	background-position:-160px 0;
	vertical-align:-4px;
}
span.icone_login {
	background:url(/images/icones/menu/new_sprite.png);
	border:none;
	display:inline-block;
	margin-right:10px;
	vertical-align:-15%;
	height:16px;
	width:16px;
}
span.admin_quote a:hover {
	border:none !important;
}
span.icone_login.about {
	background-position:-64px 0;
}
span.icone_login.member {
	background-position:-64px 0;
	vertical-align:-1px;
}
span.icone_login.search {
	background-position:-144px 0;
	vertical-align:-2px;
}
span.icone_login.signin {
	background-position:-160px 0;
	vertical-align:-2px;
}
span.icone_login.password {
	background-position:-16px 0;
}
span.icone_flags {
	background:url(/images/icones/menu/new_sprite.png);
	display:inline-block;
	vertical-align:top;
	margin-top:3px;
	height:16px;
	width:16px;
}
span.icone_flags.english {
	background-position:-176px 0;
	margin-right:20px;
}
span.icone_flags.french {
	background-position:-32px 0;
}
.icone_login_left {
	border:none;
	height:16px;
	margin-right:20px;
	vertical-align:top;
	width:16px;
}
.icone_login_right {
	border:none;
	height:16px;
	vertical-align:top;
	width:16px;
}
#notification {
	display: none;
}
#content {
	margin:0 auto;
	width:920px
}
#wrapper {
	float:left;
	margin-top:33px;
	width:730px
}
#wrapper.wrapper_index {
	margin-top:19px;
}
#wrapper h1,#wrapper h2 {
	border-bottom:1px solid rgb(60,83,189);
	color:#246;
	margin-bottom:20px;
	margin-left:20px;
	padding-bottom:10px;
	font-family:Helvetica;
	text-shadow:2px 2px 1px #ccc
}
#wrapper h3 {
	color:#246;
	margin-bottom:15px;
	margin-left:20px;
	font-family:Helvetica
}
#right {
	float:left;
	margin:35px 0 0 20px;
	width:170px
}
#footer {
	margin-top:50px;
	font-size:13px;
	display:block;
	text-shadow:0 1px 0 rgba(255,255,255,.6);
	font-weight:normal;
	background:url(/images/dark_gray.png);
	-webkit-box-shadow:0 -8px 50px rgba(0,0,0,.4);
	-moz-box-shadow:0 -8px 50px rgba(0,0,0,.4);
	box-shadow:0 -8px 50px rgba(0,0,0,.4);
	height:100%
}
#footer .content {
	width:920px;
	margin:0 auto;
	padding:15px 0 30px 0;
	line-height:22px;
	font-family:'Open Sans';
	font-size:12px;
}
#footer .content a {
	color:#888;
	text-decoration:none;
}
#footer .content a:hover {
	border-bottom:1px dashed #888;
	text-decoration:none;
}
#footer .content .left {
	float:left;
	width:400px;
	margin-right:25px;
	text-align:justify;
}
#footer .content .right {
	float:right;
	width:180px;
}
#footer .content .right #caption_footer {
	font-family:'Gloria Hallelujah';
	text-shadow:0 1px 0 white;
}
#footer .content .right #caption_footer #eiffel-tower {
	background:url(/images/tour.png);
	display:inline-block;
	height:21px;
	width:10px;
	margin-left:10px;
	vertical-align:-5px;
}
h1,h2,h3 {
	font-family:'Open Sans' !important;
	font-weight:300 !important
}
.colonne-gauche {
	float:left;
	text-align:right;
	vertical-align:middle;
	width:210px
}
.colonne-milieu {
	float:left;
	padding-left:10px;
	text-align:left;
	vertical-align:middle;
	width:210px
}
.colonne-droite {
	float:left;
	text-align:left;
	vertical-align:middle;
	width:210px
}
.min_info {
	font-size:90%
}
.post {
	padding:10px;
	color:#555;
	background: url(/images/bg_quote.jpg) repeat-x center bottom, url(/images/bg_post_noise.png);
	font-family:'Ubuntu';
	line-height:25px;
	border-bottom:1px solid #CCC;
	font-size:12px;
	font-weight:300;
	margin:0 auto 25px;
	text-shadow:0px 1px 1px rgba(255,255,255,0.9);
	moz-box-shadow:0 5px 25px rgb(0,0,0);
	webkit-box-shadow:0 5px 25px rgb(0,0,0);
	box-shadow:0 5px 25px rgb(0,0,0);
	moz-border-radius:5px;
	webkit-border-radius:5px;
	border-radius:5px;
}
.post a:hover,#footer a:hover,.profile_not_fullfilled a:hover {
	text-decoration:underline
}
.post a.boutton {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#246;
	border-radius:10px;
	color:#fff;
	font-size:14px;
	font-weight:400;
	padding:5px 12px
}
.post a.boutton:hover {
	-webkit-box-shadow:0 0 3px rgb(60,83,189),0 0 6px rgb(60,83,189);
	text-decoration:none
}
.post .title {
	border-bottom:1px solid #A7A7A7;
	font-family:'Open Sans';
	text-shadow:2px 2px 1px #d7d7d7;
	color:#323930;
	font-size:110%;
	margin-bottom:15px
}
.footer_quote {
	font-size:90%;
	margin-top:5px;
	position: relative;
}
.edit_comment {
	opacity: 0.5;
	margin-left: 20px;
}
.edit_comment:hover {
	opacity: 1;
}
.clear {
	clear:both
}
#texte_quote {
	height:70px;
	width:670px;
}
#textarea_add_comment {
	width: 702px;
	height: 100px;
	margin-bottom: 10px;
}
input,textarea {
	background:#FFF;
	border:1px solid #CCC;
	color:#246;
	font-size:12px;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	outline:none;
	padding:2px
}
input .edit_user,select .edit_user {
	width:180px
}
input.signup {
	width:190px
}
select {
	outline:none
}
.error {
	color:#246;
	display:block;
	font-weight:700;
	margin:10px auto 20px auto;
	vertical-align:middle
}
.text_align_center {
	text-align:center;
}
.page a,.page_bottom a,.page_bottom_number a {
	color:#555 !important;
	text-decoration:none;
	border:none !important;
	font-weight:300 !important;
}
.page a:hover,.page_bottom a:hover,.page_bottom_number a:hover,.page_bottom_number_a:hoverctive a:hover {
	color:#000 !important;
	text-decoration:none;
	border:none !important;
}
.page,.page_bottom,.page_bottom_number,.page_bottom_number_active {
	float:right;
	display:inline-block;
	min-width:10px;
	height:18px;
	padding:4px 7px;
	font-size:15px;
	line-height:20px;
	color:#555;
	border-color:#CCC #CCC #AAA;
	border:1px solid;
	text-align:center;
	moz-box-shadow:inset 0 0 1px #fff;
	-ms-box-shadow:inset 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 1px white;
	box-shadow:inset 0 0 1px white;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
	background-image:-moz-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image:-ms-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image:-o-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
	background-image:-webkit-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image:linear-gradient(to bottom,#FAFAFA 0,gainsboro 100%);
	border:1px solid #CCC;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-right:5px
}
.page:hover,.page_bottom:hover,.page_bottom_number:hover,.page_bottom_number_active {
	border-color:#AAA #AAA #999;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	-ms-box-shadow:0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px white;
	box-shadow:0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px white;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fff0f0f0,EndColorStr=#ffe6e6e6);
	background-image:-moz-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
	background-image:-ms-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
	background-image:-o-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#F0F0F0),color-stop(100%,#E6E6E6));
	background-image:-webkit-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
	background-image:linear-gradient(to bottom,#F0F0F0 0,#E6E6E6 100%);
	cursor:pointer;
}
.page_bottom {
	margin-top:-10px
}
.page_bottom_number,.page_bottom_number_active {
	float:left;
	margin-top:-10px;
	margin-left:5px;
}
.page_bottom_number_active a {
	color:rgb(60,83,189) !important;
}
.page_user_margin {
	margin-right:5px
}
.page {
	margin-bottom:20px
}
.page_index {
	margin:-18px 5px 0 0;
}
.gap_page {
	float:left;
	margin:0 5px;
}
.blue {
	color:rgb(60,83,189);
}
.cadre_infos_profil {
	position:relative;
	margin-left:150px
}
#compteur_textarea {
	display: inline-block;
}
#compteur_textarea.red {
	color:red;
}
#compteur_textarea.green {
	color:green;
}
#app_ios {
	float:right;
	width:366px;
	height:308px;
}
#christmas_hat {
	background: url(/images/christmas_hat.png);
	height: 20px;
	width: 20px;
	position: absolute;
	left: -5px;
	top: -9px;
}
#lancement_app_ios a {
	background:url(/images/lancement_app_sidebar.png);
	height:142px;
	width:170px;
	margin:-2px auto 20px auto;
	display:block;
}
.erreur {
	background:transparent url(/images/icones/alert.png) no-repeat 2% 50%;
	color:rgb(60,83,189);
	font-weight:600;
	margin:20px;
	padding:10px 10px 10px 60px
}
.keyboard_key {
	display:inline-block;
	min-width:10px;
	height:18px;
	padding:0 4px;
	font-size:11px;
	line-height:18px;
	color:#555;
	text-align:center;
	background-color:#EEE;
	background-repeat:repeat-x;
	background-image:-moz-linear-gradient(top,whiteSmoke 0,#EEE 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,whiteSmoke),color-stop(100%,#EEE));
	background-image:-webkit-linear-gradient(top,whiteSmoke 0,#EEE 100%);
	background-image:-ms-linear-gradient(top,whiteSmoke 0,#EEE 100%);
	background-image:-o-linear-gradient(top,whiteSmoke 0,#EEE 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#eeeeee',GradientType=0);
	background-image:linear-gradient(top,whiteSmoke 0,#EEE 100%);
	border:1px solid #CCC;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 0 white,0 1px 0 #CCC;
	-moz-box-shadow:inset 0 1px 0 #fff,0 1px 0 #ccc;
	box-shadow:inset 0 1px 0 white,0 1px 0 #CCC;
	margin-right:5px
}
.padding_letters {
	padding:10px 5px 10px 17px
}
a.letters_members {
	display:inline-block;
	min-width:10px;
	height:18px;
	padding:0 4px;
	font-size:11px;
	line-height:18px;
	color:#555 !important;
	font-weight:normal !important;
	text-align:center;
	background-color:#EEE;
	background-repeat:repeat-x;
	background-image:-moz-linear-gradient(top,whiteSmoke 0,#EEE 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,whiteSmoke),color-stop(100%,#EEE));
	background-image:-webkit-linear-gradient(top,whiteSmoke 0,#EEE 100%);
	background-image:-ms-linear-gradient(top,whiteSmoke 0,#EEE 100%);
	background-image:-o-linear-gradient(top,whiteSmoke 0,#EEE 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#eeeeee',GradientType=0);
	background-image:linear-gradient(top,whiteSmoke 0,#EEE 100%);
	border:1px solid #CCC;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 0 white,0 1px 0 #CCC;
	-moz-box-shadow:inset 0 1px 0 #fff,0 1px 0 #ccc;
	box-shadow:inset 0 1px 0 white,0 1px 0 #CCC;
	margin-right:7px
}
.grey_post {
	background:url(/images/dark_gray.png) center;
	border:1px solid #CCC;
	padding:10px;
	margin:20px 5px;
	color:#666;
	font-size:12px;
	font-weight:300;
	line-height:25px;
	moz-box-shadow:2px 3px 5px #CCC;
	box-shadow:2px 3px 5px #CCC;
	-webkit-box-shadow:2px 3px 5px #CCC
}
.grey_line {
	border-bottom:1px solid #CCC;
	margin:10px 20px
}
.img_apps {
	border:1px solid #CCC;
	background-image:-moz-linear-gradient(top,#fff,#e6e6e6);
	/* FF3.6 */ background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#e6e6e6));
	/* Saf4+,Chrome */ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6');
	/* IE6,IE7 */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6')";
	margin:20px 5px;
	padding:20px 40px;
	moz-box-shadow:2px 3px 5px #CCC;
	box-shadow:2px 3px 5px #CCC;
	-webkit-box-shadow:2px 3px 5px #CCC;
}
.img_apps:hover {
	background-image:-moz-linear-gradient(top,#e6e6e6,#fff);
	/* FF3.6 */ background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e6e6e6),color-stop(1,#FFF));
	/* Saf4+,Chrome */ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6',endColorstr='#FFF');
	/* IE6,IE7 */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6',endColorstr='#FFF')";
	cursor:pointer
}
.img_apps.right {
	height:286px;
}
.img_apps a:hover,.favorite a:hover,.edit_comment a:hover {
	border:none !important
}
img.apps {
	margin:0 auto 20px auto;
	width:200px;
	height:200px
}
.download_app {
	height:60px;
	margin:0 auto;
	display:block
}
.favorite {
	opacity:0.5;
	left: 150px;
	top: -2px;
	position: absolute;
}
.favorite:hover {
	opacity:1
}
.share_fb_twitter {
	margin:0 0 -10px -2px
}
.iframe_facebook {
	border:none;
	overflow:hidden;
	width:110px;
	height:21px;
}
.fade_jquery {
	opacity:0.5
}
.no_rounded_borders_right_top {
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px
}
.erreur_addquote {
	margin:20px 0px;
}
.bandeau_erreur {
	margin:10px auto 20px auto;
	padding:10px 20px;
	background:#fff9d7;
	border:1px solid #e2c822;
	color:#333;
	font-family:Helvetica;
	font-size:11px
}
.bandeau_infos {
	margin:10px auto 20px auto;
	padding:10px 20px;
	background:#D9EDF7;
	border:1px solid #BCE8F1;
	color:#3C53BD;
	font-family:Helvetica;
	font-size:11px;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0 2px 2px #CCC;
}
.bandeau_infos a {
	color: #3A87AD !important;
}
.bandeau_succes {
	color: #468847;
	background: #DFF0D8;
	border:1px solid #D6E9C6;
	margin:10px auto 20px auto;
	padding:10px 20px;
	font-family:Helvetica;
	font-size:11px
}
.profile_not_fullfilled {
	margin:5px auto 5px auto;
	width:860px;
	background:#fff9d7;
	border:1px solid #e2c822;
	padding:10px 20px;
	color:#333;
	font-family:Helvetica;
	font-size:11px
}
.pub {
	margin:0 auto 20px;
	width: 711px;
}
.pub_footer {
	margin:20px 5px 0 5px;
	width: 170px;
	height: 602px;
}
.pub_index_leaderboard {
	margin: 0 auto 25px;
	width: 728px;
	height: 90px;
}
.slidedown {
	display:none
}
.hide_this {
	cursor:pointer
}
.highlight {
	background:yellow
}
.graph_stats {
	width:600px;
	height:400px;
	margin: 10px auto;
	-moz-box-shadow:0 5px 5px #CCC;
	-webkit-box-shadow:0 5px 5px #CCC;
	box-shadow:0 5px 5px #CCC;
}
.light_shadow {
	-moz-box-shadow: 0 3px 5px #CCC;
	-wekbit-box-shadow: 0 3px 5px #CCC;
	box-shadow: 0 3px 5px #CCC;
}
.no_shadow {
	-moz-box-shadow:0 0 0 0 #FFF;
	-webkit-box-shadow:0 0 0 0 #FFF;
	box-shadow:0 0 0 0 #FFF;
}
.no_margin {
	margin:0
}
.no_margin_left {
	margin-left:0
}
.no_margin_right {
	margin-right:0
}
.margin_profile_user {
	margin:5px
}
.margin_log_me {
	margin-bottom:10px;
}
.input_right_connexion_form {
	width:115px;
	margin:-5px 0 10px 0;
}
.font_size_85 {
	font-size:85%;
}
.link_grey {
	color:#666 !important;
}
.img_mobile_website {
	background:url(/images/tq-mobile.png) no-repeat;
	display:inline-block;
	margin:10px 0 10px 20px;
	width:203px;
	height:453px;
	float:right
}
.div_presentation_mobile_website {
	margin:40px 0;
	display:inline-block;
	float:left;
	width:445px;
	text-align: justify
}
.no_comments {
	position: absolute;
	left: 53px;
}
.box_nb_comments {
	background: #3C53BD;
	background: -moz-linear-gradient(top,#3C53BD 0%,#2A3A84 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3C53BD),color-stop(100%,#2A3A84));
	background: -webkit-linear-gradient(top,#3C53BD 0%,#2A3A84 100%);
	background: -o-linear-gradient(top,#3C53BD 0%,#2A3A84 100%);
	background: -ms-linear-gradient(top,#3C53BD 0%,#2A3A84 100%);
	background: linear-gradient(to bottom,#3C53BD 0%,#2A3A84 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c53bd',endColorstr='#2a3a84',GradientType=0);
	width: 9px;
	height: 9px;
	padding: 4px;
	display: inline-block;
	position: absolute;
	left: 53px;
	top: 3px;
	text-align: center;
	color: #FFF;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	-moz-box-shadow: 0 1px 6px #888;
	-webkit-box-shadow: 0 1px 6px #888;
	box-shadow: 0 1px 6px #888;
	line-height: 10px;
	font-size: 9px;
}
/* UI Button */
.submit {
	position:relative;
	z-index:1;
	overflow:visible;
	padding:3px 7px;
	border:1px solid #AAA;
	text-decoration:none;
	text-align:center;
	font:12px Helvetica,verdana,arial,sans-serif;
	white-space:nowrap;
	cursor:pointer;
	outline:none;
	color:#444;
	text-shadow:white 0 1px 2px;
	background:#e5e5e5;
	background:-moz-linear-gradient(top,#e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e5e5e5),color-stop(49%,#f4f4f4),color-stop(50%,#e5e5e5),color-stop(100%,#f4f4f4));
	background:-webkit-linear-gradient(top,#e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);
	background:-o-linear-gradient(top,#e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);
	background:-ms-linear-gradient(top,#e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5',endColorstr='#f4f4f4',GradientType=0 );
	background:linear-gradient(top,#e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);
	transition:.3s ease-in-out;
	-webkit-transition:.3s ease-in-out;
	-moz-transition:.3s ease-in-out;
	-webkit-box-shadow:0 1px 4px #ddd,inset 0 1px 0 #fff;
	-moz-box-shadow:0 1px 4px #ddd,inset 0 1px 0 #fff;
	box-shadow:0 1px 4px #ddd,inset 0 1px 0 #fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.submit:hover,button.submit:hover {
	-webkit-box-shadow:0 1px 4px #aaa,inset 0 1px 0 #98beda;
	-moz-box-shadow:0 1px 4px #aaa,inset 0 1px 0 #98beda;
	box-shadow:0 1px 4px #aaa,inset 0 1px 0 #98beda;
	-webkit-transition-duration:200ms,200ms,200ms;
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#7e9cb3),color-stop(0.5,#708ca1),color-stop(0.51,#8baec8),color-stop(1,#82a3bc));
	background-image:-moz-linear-gradient(center bottom,#7e9cb3 0%,#708ca1 50%,#8baec8 51%,#82a3bc 100%);
	background-color:#5b7182;
	border:1px #5b7182 solid;
	color:white!important;
	text-shadow:0 -1px 1px #5b7182
}
.submit:focus,.submit:active {
	background-color:#708ca1;
	background-image:-webkit-gradient(linear,0 0,0 10%,from(#82a3bc),to(#82a3bc));
	background-image:-moz-linear-gradient(#82a3bc,#82a3bc);
	background-image:-o-linear-gradient(#82a3bc,#82a3bc);
	background-image:linear-gradient(#82a3bc,#82a3bc);
	-webkit-box-shadow:0px 0px 0px #aaa,inset 0 5px 10px #708ca1;
	-moz-box-shadow:0px 0px 0px #aaa,inset 0 5px 10px #708ca1;
	box-shadow: 0px 0px 0px #aaa,inset 0 5px 10px #708ca1;
}