@import "compass/css3";
@import "compass/css3/filter";

@import "colors";
@import "mixins";
@import "breakpoints";

@import "modules/countries";
@import "modules/quotes/tags";
@import "modules/quotes/tops";
@import "modules/users/welcome";

$imagesFolder:"/assets/images/";

html, body {
	height: 100%;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.btn-primary {
	background-color: $lightBlue;
	border-color: $lightBlue;

	&:hover {
		background-color: #276F9E;
		border-color: #276F9E;
	}
}

.pagination>li>span, .pagination>li>a {
	color: $topbarColor;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: $lightBlue;
}

.transition {
	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in-out);
}

.badge {
	@include border-radius(0px);
	background: #95a5a6;
	@media screen and (max-width: $breakpointSmartphone) {
		font-size: inherit;
	}
}

.form-horizontal .control-label {
	margin-bottom: 10px;
}

.alert {
	i.fa {
		margin-right: 15px;
	}
}

.input-hint {
	@include input-hint;
}

h1 {
	color: $topbarColor;
	text-transform: uppercase;
	font-size: 1.7em;

	> i.fa {
		margin-right: 15px;
		color: lighten($topbarColor, 20%);
	}
}

h2 {
	color: $topbarColor;
	text-transform: uppercase;
	font-size: 1.5em;

	> i.fa {
		margin-right: 10px;
		color: lighten($topbarColor, 20%);
	}
}

h3 {
	color: $topbarColor;
	text-transform: uppercase;
	font-size: 1.4em;

	> i.fa {
		margin-right: 10px;
		color: lighten($topbarColor, 20%);
	}
}

h3 {
	color: $topbarColor;
	text-transform: uppercase;
	font-size: 1.3em;

	> i.fa {
		margin-right: 10px;
		color: lighten($topbarColor, 20%);
	}
}

.navbar-default {
	background: $topbarColor;
	border: 0;

	.navbar-nav > li > a {
		padding-left: 10px;
		padding-right: 10px;
		@include element-transition;
	}

	.navbar-nav > li > a:hover, .navbar-toggle:hover, .navbar-toggle:focus {
		background: #FFF;
		color: $blueGray;
	}

	.navbar-toggle .icon-bar {
		background-color: white;
	}

	.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
		background-color: $topbarColor;
	}

	.navbar-collapse {
		border-color: lighten($topbarColor, 10%);
	}
}

.navbar-fixed-top {
	.logo {
		@include background-image-retina($imagesFolder + 'logo', 'png', 200px, 30px);
		background-repeat: no-repeat;
		width: 200px;
		height: 30px;
		display: block;
		margin: 12px 10px 0 0;
		float: left;

		@media screen and (min-width: 320px) and (max-width: 992px) {
			width: 150px;
			height: 23px;
			margin-left: 20px;
			background-size: contain;
			margin-top: 15px;
		}
	}

	> .container {
		@media screen and (min-width: $breakpointSmartphone) and (max-width: 992px) {
			padding-right: 0px;
			padding-left: 0px;
		}
	}


	.twitter-follow-button {
		margin-top: 15px;
		height: 20px;
		visibility: hidden;
	}

	.navbar-nav > li > a > i.fa {
		margin-right: 10px;
	}

	.navbar-nav > li > a > i.fa-mobile {
		@media screen and (min-width: $breakpointSmartphone) {
			font-size: 1.2em;
			vertical-align: -1px;
		}
	}
}

.heart-row {
	margin: 10px 0 20px 0;

	.heart-container {
		text-align: center;

		.fa {
			color: $red;
			display: inline-block;
			width: 100%;
		}
	}
}

#signin-page {

	.signin-text {
		margin-bottom: 10px;
	}

	#listener-wants-account {
		margin:-20px;
		padding: 20px 20px 50px 0;
	}

	.dont-remember-password {
		@include link-blue-on-white;

		text-align: right;
		margin-top: 15px;
	}

	#addquote-warning {
		@include blue-container;
		margin-bottom: 1.5em;
	}
}

#error-page {
	h1 {
		margin-bottom: 1em;

		i.fa {
			margin-right: 25px;
		}
	}

	ul li {
		margin-bottom: 10px;
	}

	@include link-blue-on-white;
}

#reset-password {
	margin-left: 0;
	margin-right: 0;

	h1 {
		margin-bottom: 15px;

		> i.fa {
			margin-right: 15px;
		}
	}

	.relax-text {
		margin-bottom: 20px;
	}

	.contact-human {
		margin: 3em 0;
		@include link-blue-on-white;
	}
}

#search-page {
	h1 {
		margin-bottom: 2em;
	}

	h2 {
		margin-bottom: 1em;

		span.count {
			float: right;
			color: $green;
			font-size: .9em;
			vertical-align: middle;
		}

	}

	.margin-bottom {
		height: 80px;
	}

	.quote {
		margin-bottom: 10px;
	}

	#result-info {
		margin: -3em -15px 4em -15px;

		.counter {
			text-align: center;
			cursor: pointer;

			.content {
				background: $veryLightGray;
				color: $topbarColor;
				padding: 10px 15px;
				font-size: 1.7em;
				font-family: 'Titillium Web', sans-serif;
				margin-bottom: 5px;

				@include element-transition;

				i.fa {
					margin-right: 20px;
					color: lighten($topbarColor, 40%);
				}

				.count {
					font-size: .7em;
					font-style: normal;
					margin-top: 1em;
					color: $green;
					display: block;
					font-family: 'RobotoDraft';
				}

				&:hover {
					background: $lightBlue;
					color: white;
				}
			}

		}
	}

	.user-row {
		background: $veryLightGray;
		padding: 10px 5px;
		margin-bottom: 10px;
		border-bottom: 2px solid darken($veryLightGray, 10%);

		.column {
			float:none;
			display:inline-block;
			vertical-align:middle;
			margin-right:-4px;

			.avatar {
				max-height: 100px;
				@include border-radius(50%);
			}

			a.username {
				color: $topbarColor;
				font-weight: 700;
				text-transform: uppercase;
				font-family: 'Titillium Web', sans-serif;
				margin: 0 0 1em 0;
				font-size: 1.1em;
				margin-left: 30px;
				@include hyphens(auto);
				@include element-transition;

				&:hover {
					color: $lightBlue;
					background: white;
					text-decoration: none;
				}

				i.fa {
					margin-right: 10px;
					vertical-align: middle;
					@media screen and (min-width: $breakpointSmartphone) {
						margin-right: 5px;
					}

					&.fa-female {
						color: $pink;
					}

					&.fa-male {
						color: $lightBlue;
					}
				}
			}

			.country {
				font-family: 'Titillium Web', sans-serif;
				color: $red;
				float: right;
				font-size: 1.3em;
			}

			.about-me {
				text-align: justify;
				margin: 10px auto 0 auto;
				padding-left: 30px;
			}
		}

		.user-description {
			padding-left: 5px;
		}
	}
}

#addquote-page {

	.addquote__form {
		padding: 5px 15px 10px 15px;
		@include card-shadow;
	}

	.addquote-text {
		margin: 20px 0 10px 0;
	}

	ul {
		margin: 40px 0 50px 0;
		list-style: none;
		padding: 0;

		li {
			font-family: 'RobotoDraft', sans-serif;
			margin: 15px 0 20px 15px;
			font-size: 1.4em;


			b {
				font-weight: 400;
			}
		}

		li:nth-child(even) {
			text-align: right;
		}
	}

	.notice-email {
		margin-top: 50px;

		i.fa {
			color: $topbarColor;
			margin-right: 10px;
		}
	}
}

#signup-page {

	.col-md-push-6 {
		@media screen and (min-width: 970px) {
			margin-top: 75px;
		}

		.signup-advantages {
			ul {
				list-style: none;
				padding: 0;

				li {
					font-family: 'RobotoDraft', sans-serif;
					margin: 15px 0 20px 15px;
					font-size: 1.4em;


					b {
						font-weight: 400;
					}
				}
				li:nth-child(even) {
					text-align: right;
				}
			}
		}
	}

	#signup-text {
		margin-bottom: 1.5em;
		text-align: justify;
	}

	#respect-privacy {
		@include input-hint;

		#alternate-email {
			color: $lightBlue;
			font-family: 'Titillium Web', serif;
			cursor: pointer;
			font-weight: 500;
		}

		i.fa {
			margin-right: 15px;
		}
	}

	#login-validator {
		display: none;
		margin: 10px 15px 0 15px;

		i.fa {
			margin-right: 15px;
		}
	}
}

/* legal.show view */
#legal-page {
	@include ariane-line;

	h1 {
		margin-top: 0;
	}

	h2 {
		color: $lightBlue;
	}

	h3 {
		color: $green;
	}

	p {
		text-align: justify;
	}
}

/* contact.show view */
#contact-page {
	h1 {
		margin-bottom: 1em;

		@media screen and (max-width: $breakpointSmartphone) {
			padding-left: 20px;
		}
	}

	h1#team-title {
		margin-top: 2em;
	}

	#first-col {
		padding-left: 0;
		padding-right: 15px;
	}

	#second-col {
		padding-right: 0;
		padding-left: 15px;
	}

	#first-col, #second-col {
		@media screen and (max-width: $breakpointSmartphone) {
			padding: 0;
		}
	}

	#stay-in-touch, #contact-info {
		@include blue-container;
	}

	#contact-info {
		background: $green;

		ul {
			list-style: none;
			@media screen and (max-width: $breakpointSmartphone) {
				padding-left: 10px;
			}
			@media screen and (min-width: $breakpointSmartphone) {
				font-size: 1.3em;
			}

			li {
				margin-bottom: 1em;

				a {
					background: inherit;
					color: white;
					text-decoration: none;
					padding: 2px 3px;
					@include element-transition;

					&:hover {
						background: white;
						color: $green;
					}
				}

				i.fa {
					margin-right: 15px;
				}
			}
		}
	}

	#team-container {
		margin-left: 0;
		margin-right: 0;

		.team-member-container {
			@media screen and (min-width: $breakpointSmartphone) {
				padding-left: 0px;
				padding-right: 0px;
			}
		}

		.team-member {
			@include comment-and-avatar;

			border: 1px solid darken($lightGray, 10%);
			border-top: 0;
			margin-bottom: 0;

			&:first-child {
				border-top: 1px solid darken($lightGray, 10%);
			}

			h3 {
				margin-top: 0;
				color: $lightBlue;

				@include link-blue-on-white;
			}
		}
	}
}

.container.under-navbar {
	padding-top: 100px;
	padding-bottom: 50px;

	@media screen and (max-width: $breakpointSmartphone) {
		padding-top: 70px;
	}
}

.stories-container {
	padding-top: 45px;

	#hero {
		max-width: 1170px;
		margin: 0 -15px;
		position: relative;

		img {
			max-width: 100%;
			@include filter(blur(1px));

			@media screen and (max-width: $breakpointSmartphone) {
				@include filter(blur(0px));
			}
		}
		.text {
			background: rgba(0,0,0,0.5);
			position: absolute;
			top: 20%;
			left: 2%;
			width: 60%;
			color: white;
			padding: 1rem;
			text-align: justify;
			font-family: 'Titillium Web', serif;
			font-size: 1.3em;
			transform: translateY(-50%);
			line-height: 2.2em;

			@media screen and (max-width: $breakpointSmartphone) {
				font-size: 1.1em;
				line-height: 1.5em;
				left: 0%;
				top: 10%;
				width: 70%;
			}
			@media screen and (max-width: $breakpointMiniSmartphone) {
				font-size: .9em;
				line-height: 1.5em;
				left: 0%;
				top: 5%;
				width: 70%;
			}
		}
	}
}

#stories {
	margin: 0 -15px;

	.story {
		padding: 15px 20px;
		background: white;
		color: black;
		text-align: justify;

		&:nth-child(even) {
			color: white;
			background: $lightBlue;

			h3 a:hover {
				background: white;
				color: $topbarColor;
			}

			h3 .story-id a:hover {
				background: white;
				color: $orange;
			}
		}

		.column {
			float:none;
			display:inline-block;
			vertical-align:middle;
			margin-right:-4px;

			.avatar {
				max-height: 100px;
				@include border-radius(50%);
			}
		}

		.column-avatar {
			border-right: 1px solid darken($lightGray, 10%);
		}

		h3 {
			color: $topbarColor;
			font-family: 'Titillium Web', serif;
			background: inherit;
			margin-top: 0;

			a {
				text-decoration: none;
				color: $topbarColor;
				padding: 3px 5px;
				@include element-transition;

				&:hover {
					background: $topbarColor;
					color: white;
				}
			}

			.story-id a {
				float: right;
				background: inherit;
				padding: 5px;
				color: $orange;

				&:hover {
					background: $orange;
					color: white;
				}
			}
		}

		.story-date {
			margin-top: .5em;
			text-align: right;
			font-style: italic;
		}

		h4 {
			margin: 15px 0 10px 0;
		}

	}

	form {
		margin-bottom: 4em;

		h1 {
			margin-bottom: 1.3em;
		}
	}

	h2 {
		margin: 1.5em 0 2em 0;
	}
}

.error-form {
	margin: 10px 0 0 20px;

	i.fa {
		margin-right: 15px;
	}
}

#download-app {
	@include ariane-line;

	h2 {
		margin-bottom: 1.2em;
	}

	.col-md-6 {
		float:none;
		display:inline-block;
		vertical-align:middle;
		margin-right:-4px;
		text-align: justify;

		&:first-child {
			@media screen and (min-width: $breakpointSmartphone) {
				font-size: 1.1em;
				line-height: 1.8em;
			}
		}

		img {
			margin-right: auto;
			margin-left: auto;
		}

		a {
			text-decoration: none;
			background: inherit;
			padding: 2px 3px;
			color: $lightBlue;
			@include element-transition;

			&:hover {
				background: $lightBlue;
				color: white;
			}
		}
	}
}

.centered-column {
	float:none;
	display:inline-block;
	vertical-align:middle;
	margin-right:-4px;
}

.text-center {
	text-align: center;
}

.quotes__promotion-container {
	background: $lightBlue;
	color: white;
	font-weight: 300;
	padding: 20px;
	width: 80%;
	margin: 0 auto 25px auto;
	font-size: 1.2em;
	@media screen and (max-width: $breakpointSmartphone) {
		width: 90%;
	}

	@include link-lightblue-on-blue;

	h4 {
		margin-top: 0;
		font-weight: 500;
		font-size: 1.5em;
		font-family: 'Titillium Web', serif;
	}
}

.content__title {
	margin-top: -20px;
	margin-bottom: 10px;
}

.quote {
	background: $red;
	width: 100%;
	padding: 20px 20px 15px 20px;
	color: white;
	font-size:1.1em;
	line-height: 1.5em;
	margin-bottom: 25px;
	border-bottom: 3px solid darken($red, 10%);
	text-align: justify;
	@include hyphens(auto);

	@media screen and (max-width: $breakpointMiniSmartphone) {
		padding-bottom: 2px;
	}

	a, button {
		@include element-transition;
	}

	// Different colors for quotes
	@each $i in $availableColors {
		$colorName: nth($i, 1);
		$colors: nth($i, 2);

		$j: 1;
		@each $thisColor in $colors {
			$darkColor: darken($thisColor, 10%);

			@if $colorName == '' {
				&.color#{$colorName}-#{$j} {
					background: $thisColor;
					border-bottom-color: $darkColor;

					.quotes-info a, .favorite-links button, .social-buttons a {
						background: $darkColor;
					}
				}
			}
			@else {
				&.color-#{$colorName}-#{$j} {
					background: $thisColor;
					border-bottom-color: $darkColor;

					.quotes-info a, .favorite-links button, .social-buttons a {
						background: $darkColor;
					}
				}
			}


			$j: $j + 1;
		}
	}

	.quotes-info {
		margin-top: 10px;
		font-size: 0.9em;

		@media screen and (max-width: $breakpointSmartphone) {
			font-size: 0.7em;
		}
		@media screen and (max-width: $breakpointMiniSmartphone) {
			margin-left: -35px;
			margin-right: -35px;
		}

		.link-author-profile {
			color: white;
			font-family: 'Titillium Web', sans-serif;
			font-weight: 700;
			text-decoration: none;
			float: right;
			letter-spacing: 1px;
			background:transparent;
			padding: 2px 5px;
			margin-top: -3px;

			@media screen and (max-width: $breakpointSmartphone) {
				margin-top: -5px;
			}
			@media screen and (max-width: $breakpointMiniSmartphone) {
				margin-top: -1px;
				padding: 0 2px;
			}
		}

		.float-left {
			float: left;
		}

		.social-buttons {
			text-align: right;

			a {
				width: 24px;
				height: 24px;
				color: white;
				display: inline-block;
				text-align: center;

				@media screen and (max-width: $breakpointSmartphone) {
					width: 18px;
					height: 18px;
				}
				@media screen and (max-width: $breakpointMiniSmartphone) {
					margin-top: 2px;
				}
				@media screen and (min-width: $breakpointSmartphone) and (max-width: $breakpointLargeDesktop) {
					width: 20px;
					height: 20px;
				}

				i {
					@media screen and (max-width: $breakpointSmartphone) {
						position: relative;
						bottom: 2px;
					}
				}
			}

			a:hover i.fa-facebook {
				color: #4862A3;
			}

			a:hover i.fa-twitter {
				color: #55ACEE;
			}

			a:first-child {
				margin-right: 5px;

				@media screen and (max-width: $breakpointSmartphone) {
					margin-right: 3px;
				}
			}
		}

		span.link-author-profile:hover {
			cursor: default;
		}

		a.link-author-profile:hover, .badge:hover, .social-buttons a:hover {
			background: white !important;
			color: $lightBlue;
		}

		.favorite-links {
			@media screen and (max-width: $breakpointSmartphone) {
				padding: 0 5px;
			}

			.favorite-action, .fav-count {
				border: 0;
				outline: none;

				i.fa-heart, i.fa-heart-o {
					margin-right: 7px;
					&:hover {
						color: $red !important;
					}
				}
			}
		}
	}
}

#title-comments, #title-add-comment, #title-edit-comment {
	margin: 2em 0 1em 0;

	i.fa {
		margin-right: 20px;
	}
}

#countLetters {
	margin: 15px 0 0 10px;

	i.fa {
		margin-right: 10px;
	}
}

.comment {
	@include comment-and-avatar;

	a.edit-comment {
		margin-right: 5px;
		color: darken($lightGray, 50%);
		@include element-transition;

		&:hover {
			color: darken($lightGray, 70%);
		}
	}

	i.delete-comment {
		color: $red;
		margin-right: 10px;
		cursor: pointer;
		@include element-transition;

		&:hover {
			color: darken($red, 20%);
		}
	}
	.comment-info {
		margin-top: 10px;
		@media screen and (max-width: $breakpointSmartphone) {
			font-size: 0.9em;
		}

		.controls-large {
			display: inline-block;
		}

		.date-comment {
			@media screen and (max-width: $breakpointSmartphone) {
				font-size: 0.9em;
				margin-top: 3px;
			}
		}

		.link-author-name {
			color: darken($lightGray, 50%);
			font-family: 'Titillium Web', sans-serif;
			font-weight: 700;
			text-decoration: none;
			float: right;
			background:transparent;
			padding: 2px 5px;
			letter-spacing: 1px;
			@include element-transition;
		}

		span.link-author-name:hover {
			cursor: default;
		}

		a.link-author-name:hover {
			background: white;
		}
	}
}

.favorites-info {
	background: $lightGray;
	padding: 10px 15px;
	margin-top: -25px;
	width: 90%;
	margin-left: 10%;
	box-sizing: border-box;
	border-left: 2px solid darken($lightGray, 10%);

	i.fa {
		margin-right: 20px;
		color: $red;
	}

	@include link-blue-on-gray;
}

#user-profile {
	> h2 {
		margin-bottom: 15px;
	}

	> .alert-info {
		margin-bottom: 3em;
	}

	#profile-info {
		h2 {
			color: $topbarColor;
			font-weight: 700;
			text-transform: uppercase;
			font-family: 'Titillium Web', sans-serif;
			margin: 0 0 1em 0;
			font-size: 1.4em;
			@include hyphens(auto);
			@media screen and (max-width: $breakpointSmartphone) {
				font-size: 1.6em;
			}
		}

		.avatar-container {
			@media screen and (max-width: $breakpointSmartphone) {
				float:none;
				display:inline-block;
				vertical-align:middle;
				margin-right:-4px;
			}
			.avatar {
				margin: 0 auto;
				max-height: 135px;
				@include border-radius(50%);
			}
		}

		.user-info {
			line-height: 2em;
			@media screen and (max-width: $breakpointSmartphone) {
				float:none;
				display:inline-block;
				vertical-align:middle;
				margin-right:-4px;
			}

			i.fa {
				margin-right: 10px;
			}

			img.mustach {
				width: 18px;
				margin-left: -6px;
				margin-right: 7px;
			}
		}

		> .row {
			.stats-counter {
				@media screen and (max-width: $breakpointSmartphone) {
					margin-top: 1em;
				}

				.col-md-3 {
					@media screen and (max-width: $breakpointSmartphone) {
						margin-bottom: 1em;
					}
					font-family: 'Titillium Web', sans-serif;
					text-align: center;

					a {
						color: black;
						@include element-transition;
					}

					a:hover {
						color: $lightBlue;
						text-decoration: none;
					}

					.description {
						display: block;
						text-transform: uppercase;
						margin-bottom: .2em;
						font-size: .9em;
					}

					.counter {
						font-weight: 700;
						font-size: 1.2em;
					}

					.active {
						width: 70%;
						background: $lightBlue;
						height: 3px;
						display: block;
						margin: .5em auto 0 auto;
					}

					.unactive {
						background: transparent;
						height: 3px;
						display: block;
						margin: .5em auto 0 auto;
					}
				}
			}

			.text-center {
				padding-left: 0;
				padding-right: 0;
				text-align: left;
			}

			.about-me {
				margin: 2em 0 1.5em 0;
				@media screen and (max-width: $breakpointSmartphone) {
					margin-top: .5em;
				}
			}
		}
	}

	> .btn-group {
		display: flex;
		justify-content: space-between;
		margin: .5em 0 2em 0;

		button {
			@media screen and (max-width: $breakpointSmartphone) {
				padding: 5px 5px;
				font-size: 13px;
				margin-left: -4px;
			}

			i.fa {
				margin-right: 10px;
				@media screen and (max-width: $breakpointSmartphone) {
					margin-right: 0px;
				}
			}
		}
	}

	.quote {
		padding: 15px 15px 10px 15px;
		color: white;
		font-size: 1em;
		line-height: 1.3em;
		margin-bottom: 15px;
		@media screen and (max-width: $breakpointSmartphone) {
			padding-bottom: 5px;
		}

		.quotes-info {
			@media screen and (max-width: $breakpointMiniSmartphone) {
				margin-left: -30px;
				margin-right: -30px;
			}

			.social-buttons a {
				width: 19px;
				height: 19px;

				i {
					@media screen and (max-width: $breakpointSmartphone) {
						bottom: 0px;
					}
				}
			}

			.link-author-profile {
				@media screen and (max-width: $breakpointSmartphone) {
					margin-top: -2px;
				}
			}
		}
	}

	.comment {
		border-bottom: none;
		margin-bottom: 0;
	}

	.comment-quote-info {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin-left: 2em;
		margin-bottom: 1em;
		border-left: 5px solid darken($lightBlue, 10%);
		background: $lightBlue;
		color: white;
		padding: 5px 10px;

		@include link-white-on-blue;
	}
}

#require-log-buttons {
	margin: 30px -15px;

	.col-sm-6:first-child {
		@media screen and (max-width: $breakpointSmartphone) {
			margin-bottom: 30px;
		}
	}
}

#editprofile-page {
	/* users.profile.editInfo view */
	#edit-info {
		> h1 {
			margin-bottom: .8em;
		}

		.info-pre-form {
			margin-bottom: 1em;
			.col-xs-9, .col-xs-3 {
				float:none;
				display:inline-block;
				vertical-align:middle;
				margin-right:-4px;

				.avatar {
					max-height: 100px;
					float: right;
					@include border-radius(50%);
				}
			}
		}

		.register-switch {
			height: 32px;
			margin: 5px 0 15px 0;
			padding: 4px 1px;
			background: #CCC;
			color: darken(#CCCCCC, 30%);

			.register-switch-input {
				display: none;
			}

			.register-switch-label {
				float: left;
				width: 50%;
				line-height: 25px;
				color: white;
				text-align: center;
				cursor: pointer;
				@include element-transition;

				i.fa {
					margin-right: 10px;
				}
			}

			.register-switch-input:checked + .register-switch-label {
				color: white;
				background: $lightBlue;
				line-height: 32px;
				margin-top: -4px;
			}

			#gender_f:checked + .register-switch-label {
				background: #f17288;
			}
		}

		::-moz-placeholder {
			color: #aaa;
			opacity: 1;
		}

		::-webkit-input-placeholder {
			color: #aaa;
		}

		:-ms-input-placeholder {
			color: #aaa;
		}

		::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}

	/* users.profile.editPassword view */
	#edit-password {
		margin: 50px 0;
		> h2 {
			margin-bottom: .8em;
		}

		.info-pre-form {
			margin-bottom: 1em;
		}
	}

	/* users.profile.editSettings view */
	#edit-settings {
		margin: 50px 0;
		> h2 {
			margin-bottom: .8em;
		}

		.info-pre-form {
			margin-bottom: 2em;
		}

		.btn-primary {
			margin-top: 1.5em;
		}

		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked {
			position: absolute;
			left: -9999px;
		}
		[type="checkbox"]:not(:checked) + label,
		[type="checkbox"]:checked + label {
			position: relative;
			padding-left: 75px;
			cursor: pointer;
		}
		[type="checkbox"]:not(:checked) + label:before,
		[type="checkbox"]:checked + label:before,
		[type="checkbox"]:not(:checked) + label:after,
		[type="checkbox"]:checked + label:after {
			content: '';
			position: absolute;
		}
		[type="checkbox"]:not(:checked) + label:before,
		[type="checkbox"]:checked + label:before {
			left:0; top: -3px;
			width: 65px; height: 30px;
			background: #CCC;
			border-radius: 15px;
			@include element-transition;
		}
		[type="checkbox"]:not(:checked) + label:after,
		[type="checkbox"]:checked + label:after {
			width: 20px; height: 20px;
			transition: all .2s;
			border-radius: 50%;
			background: white;
			top: 2px; left: 5px;
			@include element-transition;
		}

		/* on checked */
		[type="checkbox"]:checked + label:before {
			background: $orange;
		}
		[type="checkbox"]:checked + label:after {
			background: white;
			top: 2px; left: 40px;
		}

		[type="checkbox"]:checked + label .ui,
		[type="checkbox"]:not(:checked) + label .ui:before,
		[type="checkbox"]:checked + label .ui:after {
			position: absolute;
			left: 6px;
			width: 65px;
			border-radius: 15px;
			font-size: 14px;
			font-weight: bold;
			line-height: 22px;
			@include element-transition;
		}
		[type="checkbox"]:not(:checked) + label .ui:before {
			content: "no";
			left: 32px
		}
		[type="checkbox"]:checked + label .ui:after {
			content: "yes";
			color: white;
		}
		[type="checkbox"]:focus + label:before {
			border: 1px dashed #777;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			margin-top: -1px;

		}
	}

	/* users.profile.delete view */
	#delete-account {
		margin: 50px 0;
		> h2 {
			margin-bottom: .8em;
		}

		.info-pre-form {
			margin-bottom: 2em;
		}
	}
}

#admin-page {
	> h2 {
		margin-bottom: 1.2em;

		i, span {
			color: $red;
		}
	}

	.quotes-info {
		.badge {
			background: rgba(0, 0, 0, .6);
			@include element-transition;
			cursor: pointer;
		}
		.badge:hover {
			background: white;
			color: $lightBlue;
		}

		.fa-thumbs-up {
			color: $green;
		}
		.fa-thumbs-down {
			color: $red;
		}
		.fa-pencil-square-o {
			color: $orange;
		}
		.fa-warning {
			color: $yellow;
		}
	}
}

#need-money {
	padding: 10px;
	width: 80%;
	margin: 20px auto;
	border: 3px solid $lightBlue;
	text-align: justify;

	@media screen and (max-width: $breakpointSmartphone) {
		width: 100%;
	}

	h2 {
		color: $red;
		font-family: 'Titillium Web', sans-serif;
		margin-top: 0;
		font-weight: 400;
	}

	.author {
		margin-top: 10px;
		font-family: 'Titillium Web', sans-serif;
		text-align: right;
		color: darken($lightBlue, 10%);
	}
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -100px;
	/* Pad bottom by footer height */
	padding: 0 0 100px;
	@media screen and (max-width: $breakpointSmartphone) {
		padding: 0 0 120px;
		margin: 0 auto -120px;
	}
}

footer {
	height: 100px;
	background: $topbarColor;
	color: lighten($topbarColor, 25%);

	@media screen and (max-width: $breakpointSmartphone) {
		font-size: .8em;
		height: 120px;
	}

	.container {
		padding-top: 15px;
	}

	.col-sm-6 {
		padding-top: 10px;
	}

	.links {
		padding-top: 17px;

		a {
			text-decoration: none;
			margin-right: 35px;
			color: lighten($topbarColor, 25%);
			@include element-transition;

			@media screen and (max-width: $breakpointSmartphone) {
				margin-right: 0;
			}

			&:hover {
				color: lighten($topbarColor, 15%);
			}
		}

		@media screen and (max-width: $breakpointSmartphone) {
			display: flex;
			justify-content: space-between;
			padding-bottom: 12px;
			margin-bottom: 5px;
			border-bottom: 1px solid lighten($topbarColor, 5%);
		}
	}

	.right {
		text-align: right;
		@media screen and (min-width: $breakpointSmartphone) {
			font-size: .9em;
		}

		img {
			margin: -5px 5px 0 10px;
			float: right;
		}

		.designed {
			font-style: italic;
			font-family: 'Titillium Web', sans-serif;
		}
	}
}
